<div class="mt-3">
    <h4 class="text-primary"><strong>Education Details</strong></h4>
    <div class="m-3">
        <div class="card">
            <h5 class="card-header center"><strong>Dr. Mahalingam College of Engineering & Technology</strong></h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label class="col-form-label">
                            <strong>Course Name:</strong>
                        </label>
                        <label class="col-form-label ml10">
                            B.E-Electronics and Communication Engineering
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="col-form-label">
                            <strong>Duration:</strong>
                        </label>
                        <label class="col-form-label ml10">
                            06/2011 - 04/2015
                        </label>
                    </div>
                    <div class="col-6">
                        <label class="col-form-label">
                            <strong>CGPA:</strong>
                        </label>
                        <label class="col-form-label ml10">
                            8.4
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <h5 class="card-header center"><strong>Siwalik Matric Higher Secondary School</strong></h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label class="col-form-label">
                            <strong>Course Name:</strong>
                        </label>
                        <label class="col-form-label ml10">
                            Higher Secondary School Certificate - 12th Std
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="col-form-label">
                            <strong>Duration:</strong>
                        </label>
                        <label class="col-form-label ml10">
                            06/2010 - 01/2011
                        </label>
                    </div>
                    <div class="col-6">
                        <label class="col-form-label">
                            <strong>Percentage:</strong>
                        </label>
                        <label class="col-form-label ml10">
                            94.5
                        </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="card mt-3">
            <h5 class="card-header center"><strong>Good Shepherd Matriculation School</strong></h5>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <label class="col-form-label">
                            <strong>Course Name:</strong>
                        </label>
                        <label class="col-form-label ml10">
                            Secondary School Certificate - 10th Std
                        </label>
                    </div>
                </div>
                <div class="row">
                    <div class="col-6">
                        <label class="col-form-label">
                            <strong>Duration:</strong>
                        </label>
                        <label class="col-form-label ml10">
                            06/2008 - 01/2009
                        </label>
                    </div>
                    <div class="col-6">
                        <label class="col-form-label">
                            <strong>Percentage:</strong>
                        </label>
                        <label class="col-form-label ml10">
                            78
                        </label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>