<div class="mt-3">
    <h4 class="text-primary"><strong>Objective</strong></h4>
    <div class="m-3">
        <p>Motivated developer highly effective in developing new web apps and fixing problems within existing web apps
            by acting as architect, developer and programmer analyst.</p>
    </div>
    <h4 class="text-primary"><strong>Skill Set</strong></h4>
    <div class="m-3">
        <span class="badge bg-success m-1 badge-lg">C#.NET</span>
        <span class="badge bg-success m-1 badge-lg">MVC</span>
        <span class="badge bg-success m-1 badge-lg">.NET Core</span>
        <span class="badge bg-success m-1 badge-lg">.NET 6</span>
        <span class="badge bg-success m-1 badge-lg">Blazor</span>
        <span class="badge bg-success m-1 badge-lg">NUnit</span>
        <span class="badge bg-success m-1 badge-lg">Angular 13, 14</span>
        <span class="badge bg-success m-1 badge-lg">JQuery</span>
        <span class="badge bg-success m-1 badge-lg">AJAX</span>
        <span class="badge bg-success m-1 badge-lg">JSON/XML</span>
        <span class="badge bg-success m-1 badge-lg">WCF</span>
        <span class="badge bg-success m-1 badge-lg">Docker</span>
        <span class="badge bg-success m-1 badge-lg">Typescript</span>
        <span class="badge bg-success m-1 badge-lg">WEB API</span>
        <span class="badge bg-success m-1 badge-lg">Azure</span>
        <span class="badge bg-success m-1 badge-lg">SQL</span>
        <span class="badge bg-success m-1 badge-lg">SQL Server</span>
        <span class="badge bg-success m-1 badge-lg">Mongo DB</span>
        <span class="badge bg-success m-1 badge-lg">EF Core</span>
        <span class="badge bg-success m-1 badge-lg">IIS</span>
        <span class="badge bg-success m-1 badge-lg">VS 2022</span>
        <span class="badge bg-success m-1 badge-lg">VS Code</span>
        <span class="badge bg-success m-1 badge-lg">TFS/GIT</span>
        <span class="badge bg-success m-1 badge-lg">Jenkins</span>
        <span class="badge bg-success m-1 badge-lg">SSMS</span>
        <span class="badge bg-success m-1 badge-lg">Postman</span>
        <span class="badge bg-success m-1 badge-lg">Payments</span>
        <span class="badge bg-success m-1 badge-lg">E-Commerce</span>
        <span class="badge bg-success m-1 badge-lg">Insurance</span>
        <span class="badge bg-success m-1 badge-lg">Capital Markets</span>
    </div>
</div>