<div class="mt-3">
    <h4 class="text-primary"><strong>Certification Details</strong></h4>
    <div class="m-3">
        <ul>
            <li>
                <h6>
                    Microsoft’s Programming in C# (01/2021 - Present)
                </h6>
            </li>
            <li>
                <h6>
                    IKM ASP.NET using VB.NET (01/2017 - Present)
                </h6>
            </li>
            <li>
                <h6>
                    AINS 24 – General Insurance for IT and Support Professionals Segment - A (06/2016 - Present)
                </h6>
            </li>
            <li>
                <h6>
                    IKM LEVEL 1 C# 4.0 (01/2016 - Present)
                </h6>
            </li>
        </ul>
    </div>
</div>