<div class="mt-3">
    <h4 class="text-primary"><strong>Experience Details</strong></h4>
    <div class="m-3">
        <div class="accordion accordion-flush" id="parentAccordion">
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_synechron">
                    <div class="row accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse_synechron'" aria-expanded="false" aria-controls="collapse">
                        <div class="row">
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Organization Name:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    Synechron Technologies Pvt. Ltd
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Desgination:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    Lead - Technology
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Location:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    Bellandur, Bengaluru
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Duration:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    09/2021 - Present
                                </label>
                            </div>
                        </div>
                    </div>
                </h2>
                <div id="collapse_synechron" class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading_synechron'" data-bs-parent="#parentAccordion">
                    <div class="accordion-body">
                        <h5>
                            <strong><em>Job responsibilities</em></strong>
                        </h5>
                        <ul>
                            <li>Working for Morgan Stanley as Full Stack .Net Developer</li>
                            <li>Developing Web API's in .Net 6 Framework</li>
                            <li>Integrating Web API's in Front-end Angular Framework</li>
                            <li>Working on presenting Analytics data using Chart and Grid</li>
                            <li>Writing reusable codes using coding guidelines</li>
                            <li>Used to review team members code</li>
                            <li>Helping recruitment team by taking technical interviews</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_tsys">
                    <div class="row accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse_tsys'" aria-expanded="false" aria-controls="collapse">
                        <div class="row">
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Organization Name:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    TSYS Card Tech Services
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Desgination:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    Software Engineer Senior G1
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Location:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    Yerawada, Pune
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Duration:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    03/2021 - 09/2021
                                </label>
                            </div>
                        </div>
                    </div>
                </h2>
                <div id="collapse_tsys" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading_tsys'"
                    data-bs-parent="#parentAccordion">
                    <div class="accordion-body">
                        <h5>
                            <strong><em>Job responsibilities</em></strong>
                        </h5>
                        <ul>
                            <li>Integrated Okta MFA in a merchant on-boarding platform</li>
                            <li>Helped team members while facing technically difficulties</li>
                            <li>Created POC's to migrate from .Net FW to .Net Core</li>
                            <li>Defined industry standard code practices and guidelines</li>
                            <li>Handled stand-up and requirement gathering calls</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_selfmade">
                    <div class="row accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse_selfmade'" aria-expanded="false" aria-controls="collapse">
                        <div class="row">
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Organization Name:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    Selfmade Software Pvt Ltd
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Desgination:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    Senior Software Engineer
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Location:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    VimanNagar, Pune
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Duration:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    01/2019 - 03/2021
                                </label>
                            </div>
                        </div>
                    </div>
                </h2>
                <div id="collapse_selfmade" class="accordion-collapse collapse"
                    [attr.aria-labelledby]="'heading_selfmade'" data-bs-parent="#parentAccordion">
                    <div class="accordion-body">
                        <h5>
                            <strong><em>Job responsibilities</em></strong>
                        </h5>
                        <ul>
                            <li>Worked as Full stack .Net developer and Devops</li>
                            <li>Developed user friendly apps as per PO's requirements</li>
                            <li>Developed health monitoring systems</li>
                            <li>Devised Winforms app which do automatic deployment</li>
                            <li>Trained and mentored Interns</li>
                            <li>Integrated invoice, CSV and HTML files generation module</li>
                            <li>Documented major development technical details</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="accordion-item">
                <h2 class="accordion-header" id="heading_lti">
                    <div class="row accordion-button collapsed" type="button" data-bs-toggle="collapse"
                        [attr.data-bs-target]="'#collapse_lti'" aria-expanded="false" aria-controls="collapse">
                        <div class="row">
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Organization Name:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    LTI (formarly L&T Infotech)
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Desgination:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    Software Engineer
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Location:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    ShivajiNagar, Pune
                                </label>
                            </div>
                            <div class="col-6">
                                <label class="col-form-label">
                                    <strong>Duration:</strong>
                                </label>
                                <label class="col-form-label ml10">
                                    08/2015 - 01/2019
                                </label>
                            </div>
                        </div>
                    </div>
                </h2>
                <div id="collapse_lti" class="accordion-collapse collapse" [attr.aria-labelledby]="'heading_lti'"
                    data-bs-parent="#parentAccordion">
                    <div class="accordion-body">
                        <h5>
                            <strong><em>Job responsibilities</em></strong>
                        </h5>
                        <ul>
                            <li>Maintained base and customer specific applications</li>
                            <li>Experienced in both Web server and App server logic</li>
                            <li>Worked across various Commercial Line of Business</li>
                            <li>Developed multiple defect free enhancements</li>
                            <li>Collaborated with other Org Team on WCF projects</li>
                            <li>Resolved production issues and build back fix to client</li>
                            <li>Shared technical and functional knowledge to team</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>