<div class="row">
    <div class="col-3">
        <div class="card">
            <img src="{{ './assets/sreenath.jpg'}}" alt="" class="card-img-top img-thumbnail">
            <div class="card-body">
                <div>
                    <strong>Name:</strong><span class="ml10">Sreenath Angamuthu</span>
                </div>
                <div class="mt-2">
                    <strong>Experience:</strong><span class="ml10">7 years 0 Months</span>
                </div>
                <div class="mt-2">
                    <strong>Mail:</strong>
                    <span class="ml10">sreenath096@gmail.com </span>
                </div>
                <div class="mt-2">
                    <strong>Mobile Number:</strong>
                    <span class="ml10">7708208801</span>
                </div>
                <div class="mt-2">
                    <strong>Location:</strong><span class="ml10">Bengaluru, India</span>
                </div>
                <div class="mt-2">
                    <strong>Github:</strong><span class="ml10"><a href="https://github.com/sreenath096"
                            target="_blank">Click Here</a></span>
                </div>
            </div>
        </div>
    </div>
    <div class="col-9">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="nav-link active" data-bs-toggle="tab" [routerLink]="['skilldetails']"
                    routerLinkActive="router-link-active">Objective & Skills</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" [routerLink]="['experiencedetails']"
                    routerLinkActive="router-link-active">Experience</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" [routerLink]="['certificationdetails']"
                    routerLinkActive="router-link-active">Certification</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" [routerLink]="['achievementdetails']"
                    routerLinkActive="router-link-active">Achievement</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" [routerLink]="['educationdetails']"
                    routerLinkActive="router-link-active">Education</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-bs-toggle="tab" [routerLink]="['downloadresume']"
                    routerLinkActive="router-link-active">Downloads</a>
            </li>
        </ul>
        <div id="myTabContent" class="tab-content">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>